<!-- this wrapper page name has to be "layout.ejs" only for express to recognise it as basic layout -->

<!-- wrapper for all other views, 
    contains header & footer  (partials added from other files)
    & body - variable , from view rendered
-->

<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- css file -->
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">

        <!-- font awesome kit -->
        <script src="https://kit.fontawesome.com/7b206e8634.js" crossorigin="anonymous"></script>
 
        <!-- place style file for body here -->
        <%- style %>
    </head>
    <body>
        <!-- header partial , layouts in ejs  has this syntax -->
        <%- include('_header'); %>

        <!-- flash messages from previous function , if its not empty , (check middleware)-->
        <% if(flash.success && flash.success.length > 0){ %>
            <h3> <%= flash.success %></h3>
        <% } %>

        <!-- variable part from other views -->
        <main id="layout-main">
            <%- body %>
        </main>
        

        <!-- footer partial -->
        <%- include('_footer'); %>

        <!-- place script file for body here -->
        <%- script %>
    </body>
</html>